results/**
resources/**
logs/**
.snakemake
.snakemake/**
workflow/scripts/__pycache__/**
workflow/results/**
workflow/sbi-logs/**
sbi-logs/**
sequential_msprime_workflow/notebooks/**
amortized_dadi_workflow/scripts/__pycache__/**
amortized_msprime_workflow/scripts/__pycache__/**
sequential_msprime_workflow/scripts/__pycache__/**
test/**
amortized_msprime_workflow/add_training_data.smk 
amortized_msprime_workflow/prepare_training_data.smk
amortized_msprime_workflow/prepare_x_with_sfs.smk
amortized_msprime_workflow/train_NPE_and_viz_dinf.smk
amortized_msprime_workflow/train_NPE_and_viz.smk
amortized_msprime_workflow/switch_ts_processor.smk
amortized_msprime_workflow/run_sbc.smk
config/amortized_msprime/testing.yaml
# pixi environments
.pixi
*.egg-info
docs/_build/**
sbi_dev/.pixi
*.done
*.trees
*.ipynb
*/*/tensors/zarr/**
*/*/logs/**
*/*/sbi-logs/**
*/*/sbi-logs/**
*/*/sbi-logs/**
*/*/sbi-logs/**
*/*/sbi-logs/**
*/*/sbi-logs/**
*.pyc
*.ckpt