results/**
resources/**
logs/**
.snakemake
.snakemake/**
workflow/scripts/__pycache__/**
workflow/results/**
workflow/sbi-logs/**
sbi-logs/**
sequential_msprime_workflow/notebooks/**
amortized_dadi_workflow/scripts/__pycache__/**
amortized_msprime_workflow/scripts/__pycache__/**
sequential_msprime_workflow/scripts/__pycache__/**
test/**